%br
.col-sm-7
  .lead
    Welcome to MET|PLUS PETS
  = image_tag('MetPlus_Logo.png', size: '120x120',
                style: 'float:left; margin: 0 30px 30px 0;')
  %p{style: 'text-align: justify;'}
    Michigan Employment & Training Plus, (MET|PLUS) is a 501(c)(3),
    Vocational Training non-profit organization that strives to assist
    Michigan job seekers with invaluable training and job development that
    will put them on a career path to success. Our focus is helping dedicated
    job seekers with free career information, job insight, skill building and
    resources needed to effectively help them join the workforce and provide a
    more fruitful life for them and their families.
    Our organization intends to not just reach one goal but multiple goals.
    We want to contribute our knowledge and talents to the rebuilding of
    Michigan's neglected and damaged communities with various MET|PLUS projects.
    %br
    %br
    Learn more about
    %a{href: 'http://www.metplus.org', target: '_blank'} MET|PLUS.

.col-sm-5.panel.panel-primary(style='margin-top: 50px;')
  .panel-heading
    .panel-title  Public Employment Tracking System (PETS)
  .panel-body here is the body
-# = render partial: 'jobs/list'
-# = yield
