%h3 Company Contacts

%div{:class => 'panel panel-default'}
  %table{:class => 'table table-bordered',
                'data-card-view' => 'true', 'data-height' => '299' }
    %thead
      %tr
        %td
          Name
        %td
          Role(s)
        %td
          Status
    %tbody
      - company_people.each do |person|
        %tr
          %td
            = link_to_unless(company_status == Company::STATUS[:DENY],  |
                        person.full_name, company_person_path(person))  |
          %td
            = person.company_roles.pluck(:role).join(', ')
          %td
            = person.status if person.status
