%h2 Update Your Profile
%br
= form_for @company_person, url: update_profile_company_person_path(@company_person), html:{method: 'patch', class: 'form-horizontal'} do |cp|

	.form-group
		=cp.label :title, 'Title', autofocus: true, class:'control-label col-sm-2'
		.col-sm-6
			=cp.text_field :title, size: 30, class:'form-control'
	- @user_form = cp
	= render 'users/subform'
	.form-group
		.col-sm-2.col-sm-offset-2
			=@user_form.submit class: 'btn btn-primary'
		.col-sm-2.col-sm-offset-1
			=link_to 'Cancel', root_path, class: 'btn btn-danger'
%i (leave password blank, if you don't want to change it)
%br

