= form_for @company_person, url: update_profile_company_person_path(@company_person) do |cp|
	%div{class: 'label-group'}
		=cp.label :title, 'Title',autofocus: true,class:'col-sm-2 control-label text-right'
	%div{class: 'form-group'}
		=cp.text_field :title,class:'form-control'
	%div{class: 'label-group'}
		=cp.label :first_name, 'First Name',autofocus: true,class:'col-sm-2 control-label text-right'
	%div{class: 'form-group'}
		=cp.text_field :first_name,class:'form-control'
	%div{class: 'label-group'}
		=cp.label :last_name, 'Last Name', class:'col-sm-2 control-label text-right'
	%div{class: 'form-group'}
		=cp.text_field :last_name,class:'form-control'
	%div{class: 'label-group'}
		=cp.label :email,'Email',class:'col-sm-2 control-label text-right'
	%div{class: 'form-group'}
		=cp.text_field :email, class:'form-control'
	%div{class: 'label-group'}
		=cp.label :phone,'Phone',class:'col-sm-2 control-label text-right'
	%div{class: 'form-group'}
		=cp.text_field :phone, class:'form-control'
	%div{class: 'label-group'}
		=cp.label :password,'Password',class:'col-sm-2 control-label text-right'
	%div{class: 'form-group'}
		=cp.password_field :password ,class:'form-control'

	%div{class: 'label-group'}
		=cp.label :password_confirmation,'Password Confirmation',class:'col-sm-2 control-label text-right'
	%div{class: 'form-group'}
		=cp.password_field :password_confirmation, class:'form-control'

	%div{class: 'button-group'}
		=cp.submit 'Update', class:'col-sm-6 col-sm-offset-2 btn btn-primary'
