--color
--require spec_helper
--format progress
--format ParallelTests::RSpec::RuntimeLogger --out tmp/parallel_runtime_rspec.log
cucumber --format ParallelTests::RSpec::FailuresLogger --out tmp/failing_specs.log
