Welcome to MetPlus platform

Thank you for entering the Met Plus world where we try to connect you with the newest and more exciting job offers in the market

Please use this url
= activate_user_url(@user.activation_token)
to activate the account