%h2 Welcome to MetPlus platform
%div
  Thank you for entering the Met Plus world where we try to connect you with the
  newest and more exciting job offers in the market

%div
  To be able to enter, please
  = link_to 'press here', activate_user_url(@user.activation_token)
%div
  If the address above do not work, please use this url
  = activate_user_url(@user.activation_token)