%div{:id => "tasks-#{task_type}", :class => 'pagination-div tasks', :data => {:url => list_tasks_path(task_type)}}

- unless defined? @modal_rendered
  - @modal_rendered = true
  %div{id: "assignTaskModal", class: 'modal fade'}
    .modal-dialog(role='document')
      %form{ :action => "#", :method => "patch" }
        .modal-content
          .modal-header
            %button(type='button' class='close' data-dismiss='modal')
              %span(aria-hidden='true') &times;
            %h4.modal-title
              Assign user
          .modal-body
            .form-group
              %label(for="assignTaskModal_name" class='control-label')
                Select the user to assign the task to:
              .row
                .col-md-4
                  %select{:id => 'task_assign_select', :style => 'width: 100%;'}
          .modal-footer
            %button(type='button' class='btn btn-default'
            data-dismiss='modal') Cancel
            %button(type='submit' class='btn btn-primary'
            id='assignTaskModal_button')
              Assign
