.col-sm-3
  %h4 Company Information
  %a(id='toggle_company_info' href='#company_info_table' class='text-danger'
              style='padding-left: 10px;')
    Hide Company Information
.col-sm-9
  = render partial: 'companies/company_admin/company_info'

.clearfix
.col-sm-9
  %h4 All company people who are on PETS
.col-sm-3
  - if @company.status == Company::STATUS[:ACT]
    = link_to 'Invite Person',
                  new_user_invitation_path(person_type: 'CompanyPerson',
                  org_id: @company.id),
                  method: :get, class: 'btn btn-primary btn-sm pull-right'
.col-sm-12
  .pagination-div{id: "people-#{@people_type}", style: 'margin-top: 10px;',
                  data: {url: list_company_people_path(@company.id, @people_type)}}
