- case agency_role
- when 'JD'
  - if job_seeker.job_developer.nil?
    %i None assigned &nbsp &nbsp
    - if !preview_mode && person.is_job_developer?(current_agency)
      %button.btn.btn-success.btn-xs{id: 'assign_jd',
                  data: {url: assign_job_seeker_agency_person_path(person,
                                                job_seeker, agency_role)}}
        Assign Myself
  - else
    = job_seeker.job_developer.full_name(last_name_first: false)
- when 'CM'
  - if job_seeker.case_manager.nil?
    %i None assigned &nbsp &nbsp
    - if !preview_mode && person.is_case_manager?(current_agency)
      %button.btn.btn-success.btn-xs{id: 'assign_cm',
                  data: {url: assign_job_seeker_agency_person_path(person,
                                                job_seeker, agency_role)}}
        Assign Myself
  - else
    = job_seeker.case_manager.full_name(last_name_first: false)
