- if job_seeker.job_developer.nil?
  %i None assigned
  = link_to 'Assign Myself',
      assign_job_seeker_agency_person_path(agency_person,
                                           job_seeker, agency_role),
            method: :patch, class: 'btn btn-success btn-xs'
- else
  = job_seeker.job_developer.full_name(last_name_first: false)
