= form_for @jobseeker, html: {class: 'form-horizontal'} do |js|
	- @user_form = js
	= render 'users/subform'
	.form-group
		=js.label :year_of_birth, 'Year Of Birth', class:'control-label col-sm-2'
		.col-sm-6
			=js.text_field :year_of_birth, size: 30, class:'form-control'
	.form-group
		=js.label :job_seeker_status_id, 'Status', class:'control-label col-sm-2'
		.col-sm-6
			=js.collection_select(:job_seeker_status_id,JobSeekerStatus.all, :id, :value,{prompt: true})

	.form-group
		=js.label :resume, 'Resume', class:'control-label col-sm-2'
		.col-sm-6
			=js.file_field :resume
	.form-group
		.col-sm-2.col-sm-offset-2
			=js.submit class: 'btn btn-primary'

		.col-sm-2.col-sm-offset-1
			=link_to 'Cancel',root_path, class: 'btn btn-danger'
