.row
  .col-sm-3
    %h3
      Your Information
      = link_to edit_job_seeker_path(@jobseeker),
        :title => 'Edit information',
        :id => 'edit-information' do
        %i.fa.fa-pencil-square-o.fa-1
    %a(id='toggle_info' href='#info_table' class='text-danger'
                style='padding-left: 10px;')
      Hide Your Information

  .col-sm-9
    = render partial: 'info', locals: {job_seeker: @jobseeker, offer_download: false}

%h3 Your Applications
.pagination-div{ id: "applications-#{@application_type}",
                 data: { url: list_applications_path(@application_type, @jobseeker) } }

%h3
  Job Opportunities - New
  %span.text-muted.small (Jobs since last login shown in yellow)
%div
  .pagination-div{ id: 'recent-jobs',
                   data: { url: list_jobs_path(@recent_jobs_type) } }
.clearfix
