%h2
  = "Job Matches for #{@job_seeker.full_name(last_name_first: false)}"

.col-sm-12
  - jobs = Job.new_jobs(Time.now - 2.weeks).   |
            where("id <= ?", 20).includes(:company).  |
            paginate(:page => params[:matched_jobs_page], :per_page => 5) |
  = render partial: 'jobs/matched_job_list',
              locals: {jobs: jobs}
