.modal.fade#add_job_category(tabindex='-1' role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        %button(type='button' class='close' data-dismiss='modal')
          %span(aria-hidden='true') &times;
        %h4.modal-title Add Job Category
      .modal-body
        #model_errors
        .form-group
          %label(for='category_name' class='control-label') Name:
          %textarea(class='form-control' id='category_name')
        .form-group
          %label(for='category_desc' class='control-label') Description:
          %textarea(class='form-control' id='category_desc')
      .modal-footer
        %button(type='button' class='btn btn-default'
                                 data-dismiss='modal') Cancel
        %button(type='button' class='btn btn-primary'
                id='add_category_button') Add Category
