%h3 PETS Administration - Job Properties

.row
  .col-sm-3
    %h4 Job Categories

  - if @job_categories.empty?
    .col-sm-3
      %h5 There are no job categories.
  - else
    .col-sm-9
      = render 'job_categories'
    .clearfix
    .col-sm-3.col-sm-offset-3
      %a(id='toggle_job_categories' href='#job_categories_table' class='text-danger')
        Hide Job Categories

  .col-sm-3.col-sm-offset-3.table_action_button
    - text_modal_button 'Add Job Category', 'add_job_category',
                        'btn btn-primary btn-sm pull-right'

= render partial: 'category_modal',
          locals: {modal_id:     'add_job_category',
                   modal_action: 'add',
                   modal_title:  'Add Job Category',
                   modal_submit: 'Add Category'}

= render partial: 'category_modal',
          locals: {modal_id:     'update_job_category',
                   modal_action: 'update',
                   modal_title:  'Update Job Category',
                   modal_submit: 'Update Category'}
