.col-sm-6.col-sm-offset-3
	= render 'shared/error_messages', object: f.object 
.clearfix 
.form-group 
	=f.label :title, class: "col-sm-3 control-label text-right"
	%div{class: "col-sm-6"}
		=f.text_field :title, class: "form-control" 
.form-group 
	=f.label :jobId,"Job id", class: "col-sm-3 control-label text-right"
	%div{class: "col-sm-6"}
		=f.text_field :jobId, class: "form-control" 
.form-group 
	=f.label :shift, class: "col-sm-3 control-label text-right"
	-opts = ['morning', 'day', 'evening']
	%div{class: "col-sm-6"}
		=f.collection_select :shift, opts, :to_s, :to_s, {prompt: true}, class: "form-control" 
.form-group 
	=f.label :description, class: "col-sm-3 control-label text-right"
	%div{class: "col-sm-6"}
		=f.text_area :description, size: "40x10", class: "form-control" 
.form-group
	=f.label :fulltime, class: "col-sm-3 control-label"
	%span{class: "col-sm-6"}
		=f.check_box :fulltime, class: "checkbox-control"