%div{:class => 'container'}
  %div{:class => 'row'}
    %h3 List of job opportunities
  %div{:class => 'row'}
    %div{:class => 'panel panel-default'}
      %table{:class => 'table table-bordered', 'data-card-view' => 'true', 'data-height' => '299' }
        %thead
          %tr
            %td
              Title
            %td
              Employer
            %td
              Description
            %td
              More information
        %tbody
          - list_jobs.each do |job|
            %tr
              %td
                = job.title
              %td
                = job.company.name
              %td
                = job.description
              %td
                - if signed_in?
                  Some information
                - else
                  You need to login for more information