-provide(:title, 'List of jobs')

%div{class: "well well-sm col-sm-offset-2 col-sm-8", 	id: "jobs-well-lg"}
	-# %div{:class => 'row'}
	%div{class: 'col-sm-6'}
		%h4{id: 'list-header'} List of job opportunities

	.col-sm-6
		= button_to 'Search Jobs', list_search_jobs_path,
								 method: :get, class: 'btn btn-primary pull-right',
								 style: 'margin-top: 20px;'

- if @jobs.empty?
	%div{class: "well well-lg col-sm-offset-2 col-sm-8", id: "sub-list-id"}
		%strong{class: "text-center"}
			%h3 There are no jobs available.
- else
	- @jobs.each do |job|
		%div{class: "well well-lg col-sm-offset-2 col-sm-8", id: "sub-list-id"}
			= render job
%div{class: "col-sm-offset-4 col-sm-6"}
	= will_paginate @jobs
