- provide(:title, 'Post new job')
- provide(:new_job_active, 'active')

.page-header.text-center#new-job-header
  %h2 Create New Job for #{@company.name}

= form_for @job do |f|
  .form-horizontal
    = render partial: 'form', locals: { f: f,
                                        company: @company ,
                                        addresses: @addresses,
                                        all_licenses: @all_licenses,
                                        all_questions: @all_questions,
                                        all_education_levels: @all_education_levels }
    .form-group
      .col-sm-offset-3.col-sm-7
        = f.submit "Create", class: "btn btn-primary btn-block", id: "new-job-submit"
