- provide(:title, 'Post new job')

.page-header.text-center#new-job-header
  %h2 Create New Job
= form_for @job do |f|
  .form-horizontal
    = render partial: 'form', locals: { f: f, companies: @companies ,
                                        addresses: @addresses }
    .form-group
      .col-sm-offset-3.col-sm-6
        = f.submit "Create", class: "btn btn-primary btn-block", id: "new-job-submit"
.col-sm-offset-3.col-sm-6#new-job-links-id
  = link_to "Cancel", :back
