-provide(:title, 'Post new job')

.page-header.text-center#new-job-header
	%h2 Create New Job

=form_for @job do |f|
	.form-horizontal
		= render partial: 'form', locals: {f: f}
		.form-group
			%div{class: "col-sm-offset-3 col-sm-6"}
				= f.submit "Create", class: "btn btn-primary btn-block",
					id: "new-job-submit"
= link_to "Cancel", :back, class: "col-sm-offset-3 col-sm-6",
id: "new-job-links-id"
