%h3 Company Registration Information

.row
  = render partial: 'companies/company', :locals => {company: company}

.row.margin-top
  .col-sm-2
    = button_to 'Edit Registration',                    |
            edit_company_registration_path(company),    |
              method: :get, class: 'btn btn-primary'    |
  .col-sm-2.col-sm-offset-1
    = button_to 'Delete Registration', company_registration_path(company),  |
                  method: :delete,                                          |
                  data: {confirm: "Delete company #{company.name}?"},       |
                  class: 'btn btn-danger'                                   |

.modal.fade#deny_registration(tabindex='-1' role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        %button(type='button' class='close' data-dismiss='modal')
          %span(aria-hidden='true') &times;
        %h4.modal-title Explanation for registration denial
      .modal-body
        %p
          The company contact (who requested the registration) will receive an email
          explaining the reason for denying the registration.  Please enter the
          explanation below.
          %br/
          %br/
          (If you would prefer
          %u not
          to have an email sent to the company contact, dismiss this box and
          click the 'Delete Registration' button.)
        .form-group
          %label(for='message_text' class='control-label') Explanation:
          %textarea(class='form-control' id='message_text')
      .modal-footer
        %button(type='button' class='btn btn-default'
                                 data-dismiss='modal') Cancel
        %button(type='button' class='btn btn-primary'
                id='send_button' data-dismiss='modal') Send email
