%h2 Thank You

%p Thank you for requesting to become a partner with us!

%p We will review your registration request as soon as possible.

%p We also sent you an email with more information (subject: "Pending approval").

= render partial: 'companies/company', locals: {company: @company}
