- provide(:new_company_active, 'active')

%h2 Request Company Registration

= render partial: 'form', locals: {company: @company, method: :post,   |
          submit: 'Create', url: company_registrations_path}           |
