- if object.errors.any?
	.container{class: "col-sm-7 col-sm-offset-2 "}
		%div{class: "alert alert-danger " }
			The form contains  
			= pluralize(object.errors.count, 'error')
			%ul
				= list_of object.errors.full_messages.each do |msg|
					#{msg}