- if object.errors.any?
	#error-explanation
		%div{class: "alert alert-danger " }
			The form contains  
			= pluralize(object.errors.count, 'error')
		%ul
			= list_of object.errors.full_messages.each do |msg|
				#{msg}