.alert.alert-danger{ role: 'alert' }
  %button.close{ type: 'button', 'data-dismiss': 'alert', 'aria-label': 'Close' }
    %span{ 'aria-hidden': 'true' }
      &times;
  Please prove us that you're not a bot by checking on "I am not a robot"
