.alert.alert-success{ role: 'alert' }
  %button.close{ type: 'button', 'data-dismiss': 'alert', 'aria-label': 'Close' }
    %span{ 'aria-hidden': 'true' }
      &times;
  Your message was sent successfully!

