.container.about
  .row
    .col-sm-12.col-md-12.col-lg-12.about-image
      = image_tag "MetPlus_About_Us.png"
  .row
    .col-sm-12.col-md-12.col-lg-12
      .row
        .col-sm-7.col-md-8.col-lg-9
          %h1 About Us
          %p Michigan Employment & Training Plus, (MET|PLUS) is a workforce development and philanthropic human services non-profit organization that strives to assist Michigan jobseekers with invaluable training, job development and job placement services which will put them on a career path to success. We also provide services to employers and work hard to ensure a match between available job opportunities and qualified job seekers.
          %h3 Mission Statement
          %p Our mission is to partner with communities, employers, employees and job seekers to educate, employ, train and help build a solid Michigan working economy through workforce vocational and skill training.
          %h3 Vision Statement
          %p We strive to reduce employer risk by assisting in hiring skillful employees many of whom have increased their knowledge and skill by accessing our free employment training opportunities. Our goal is to contribute to the rebuilding, improving and maintaining of our neglected and damaged communities.
        .col-sm-1.col-md-1.col-lg-1
          .about-buttons
            = link_to "Register as an employer", '#', class: 'btn btn-lg'
            %br
            %br
            = link_to "Register as a jobseeker", '#', class: 'btn btn-lg'