.container
  .row
    .col-xs-12
      = image_tag 'MetPlus_Contact_Us.png', class: 'img-responsive contact-us-img'
  .row.contact-row
    .col-xs-12
      %h1.text-primary Contact Us
    .col-xs-12.col-sm-7.contact-form-wrapper
      .alert-message
      = render 'contact_form'
    .col-xs-12.col-sm-5.info
      %dl.dl-horizontal.contact-dl
        %dt Telephone
        %dd (313) 288-9551
      
- content_for :scripts do
  <script src='https://www.google.com/recaptcha/api.js'></script>
