.container
  .row
    .col-xs-12
      = image_tag 'MetPlus_Contact_Us.png', class: 'img-responsive contact-us-img'
  .row.contact-row
    .col-xs-12
      %h1.text-primary Contact Us
    .col-xs-12.col-sm-7.contact-form-wrapper
      .alert-message
      = render 'contact_form'
    .col-xs-12.col-sm-5.info
      %dl.dl-horizontal.contact-dl
        %dt Telephone
        %dd (313) 288-9551
      %dl.dl-horizontal.contact-dl
        %dt Address
        %dd 19445 W Warren Ave, Detroit, Michigan 48228
      %iframe.google-map{ height: '300', frameborder: '0', src: 'https://www.google.com/maps/embed/v1/place?key=AIzaSyD283M7bFM7ItcfXJFy79OcD2j2Top0qbo&q=19445+W+Warren+Ave,+Detroit,+MI+48228,+USA', allowfullscreen: true }

- content_for :scripts do
  <script src='https://www.google.com/recaptcha/api.js'></script>
