# This is an example file for "config/application.yml".

# application.yml is used by the 'Figaro' gem to set and get environmentals.

# There are at least two purposes to the application.yml file:
  # 1. Maintain config data in one file for all environments (dev, test prod)
  # 2. Store config data that should be kept secure and not available outside of
  #    the host that is running the PETS app.

# This file should NOT be maintained in git. (otherwise, it is available to everyone
# via github, thus negating a primary reason for using this mechanism).

# Make sure that your local ".gitignore" file contains this line:
  #  /config/application.yml  (NOT commented out, of course)

# What you should do with this file:
  # Copy this to config/application.yml
  # Replace config values below with the "real" values (for now, you only
  # need to replace the values for SMTP_USERNAME and SMTP_PASSWORD)


SMTP_USERNAME: 'mail-user-name'
SMTP_PASSWORD: 'mail-password'
SMTP_DOMAIN:  'localhost:3000'
SMTP_ADDRESS: 'smtp.gmail.com'
SMTP_PORT:    '587'


