= company.status
- if admin_aa
  - if company.pending_registration?
    &nbsp &nbsp
    = link_to 'Approve',
        approve_company_registration_path(company),
        method: :patch, class: 'btn btn-success btn-xs', id: 'company_approve_link'
    &nbsp &nbsp
    - text_modal_button 'Deny', 'deny_registration'
