.col-sm-3
  %h4 Companies

.col-sm-9
  - if companies.empty?
    %h4 There are no companies.
  - else
    #companies_table.collapse.in
      %table{:class => 'table table-bordered'}
        %thead
          %tr
            %td
              %strong Name
            %td
              %strong Address
            %td
              %strong Status
        %tbody
          - companies.each do |company|
            %tr
              %td
                - if company.status == Company::STATUS[:PND]
                  = link_to company.name, company_registration_path(company)
                - else
                  = link_to company.name, company_path(company)
              %td
                = single_line_address(company.addresses.first)
              %td
                = company.status
