
= form_for company, url: company_path, method: :patch,                   |
                              html: {class: 'form-horizontal'} do |f|    |
  - @address_form = f
  = render 'subform'

    .form-group
    .col-sm-2.col-sm-offset-2
      = submit_tag 'Submit', method: :patch, class: 'btn btn-primary'
    .col-sm-2.col-sm-offset-2
      = link_to 'Cancel', :back, class: 'btn btn-danger'
