%p Hello,

%p
  This is to let you know that you have received an application for the job with title
  = link_to @job.title, job_url(@job)
  from
  = link_to @job_seeker.full_name(last_name_first: false), job_seeker_url(@job_seeker)

%p
- if @has_resume
  Please find the resume of the applicant attached with this email.
- else
  No resume was provided

- questions = @job_application.application_questions

- if questions.any?

  The applicant answered the following questions associated with this job:
  %br
  %br
  %table.table
    %thead
      %tr
        %th{ style: 'text-align: left;' }
          %strong Question
        %th
          %strong Answer
    %tbody
      - questions.each do |q|
        %tr
          %td= q.question.question_text
          %td= q.answer
