%p
  Hello, this is to let you know that you have received a job application for the job title
  #{ @job.title } from #{ @job_seeker.full_name(last_name_first: false) }.

%p  Please find the resume of the applicant attached with this email.
