%p Hello,

%p
  This is to let you know that you have received an application for the job with title
  = link_to @job.title, job_url(@job)
  from
  = link_to @job_seeker.full_name(last_name_first: false), job_seeker_url(@job_seeker)

%p
  Please find the resume of the applicant attached with this email.
