%h3 Agency Personnel

%div{:class => 'row'}
  %div{:class => 'panel panel-default'}
    %table{:class => 'table table-bordered', 'data-card-view' => 'true', 'data-height' => '299' }
      %thead
        %tr
          %td
            Name
          %td
            Role(s)
      %tbody
        - agency_people.each do |person|
          %tr
            %td
              = link_to person.full_name(true), agency_person_path(person)
            %td
              = person.agency_roles.pluck(:role).join(', ')