%table.table.table-hover
  %thead
    %tr
      - job_seeker_fields(people_type).each do |field|
        - case field
          - when :full_name
            %th.strong Name
          - when :job_seeker_status_short_description
            %th.strong Status
          - when :last_sign_in_at
            %th.strong Last Login
          - when :match_rating
            %th.strong Match Rating
  %tbody
  - jobseekers.each do |js|
    %tr
      - job_seeker_fields(people_type).each do |field|
        - case field
          - when :full_name
            %td.col-md-4
              = link_to(js.full_name,job_seeker_path(js))
          - when :job_seeker_status_short_description
            %td.col-md-2
              = js.job_seeker_status.short_description
          - when :last_sign_in_at
            %td.col-md-3
              = js.last_sign_in_at
          - when :match_rating
            %td.col-md-3
              - if js.resumes.length > 0
                %i.fa.fa-search
              - else
                No resume on file

.row.text-center
  = will_paginate jobseekers, param_name: 'jobseekers_page',
                            :params => {:controller => 'agency_people',
                            :action => controller_action,
                            :id => agency_person.id,
                            :people_type => people_type}
