
%table.table.table-hover
  %thead
    %tr
      %td
        %strong Name
      %td
        %strong Status
      %td
        %strong Last Login
  %tbody
    - jobseekers.each do |js|
      %tr
        %td
          = js.full_name
        %td
          - unless js.job_seeker_status.nil?
            = js.job_seeker_status.short_description
        %td
          - if js.last_sign_in_at.nil?
            %i never
          - else
            = js.last_sign_in_at
= will_paginate jobseekers
.clearfix
