%h2 Update Your Profile
%br
= form_for @agency_person, url: update_profile_agency_person_path(@agency_person), html: {method: 'patch', class: 'form-horizontal'} do |ap|
	- @user_form = ap
	= render 'users/subform'
	.form-group
		.col-sm-2.col-sm-offset-2
			=@user_form.submit class: 'btn btn-primary'
		.col-sm-2.col-sm-offset-1
			=link_to 'Cancel', root_path, class: 'btn btn-danger'
%i (leave password blank, if you don't want to change it)
%br


