= form_for User.new, :url => login_user_index_path, :html => {:class => 'login_form', :id => 'login_form'} do |f|
  = f.text_field :email, :placeholder => 'Email Address'
  = f.text_field :password, :placeholder => 'Account Password'
  = f.submit 'Login', :class => 'btn btn-default btn-xs'