var PusherControl = {
  get_pusher: (function () {
    var pusher = new Pusher('<%=ENV['PUSHER_APP_KEY']%>');
    return function () {return pusher;}
  })(),
  setup: function () {
    var pusher = PusherControl.get_pusher();

    // pusher_control channel is used to send
    // server-originated events to clients

    var channel = pusher.channel('pusher_control');

    if (!channel) {
      channel = pusher.subscribe('pusher_control');
    }

    channel.bind('js_registered', function(data) {
      // Process event if I am logged in and am an agency_person
      if (Cookies('person_type') === 'AgencyPerson') {
        Notification.success_notification('Job Seeker: ' +
            "<a href='/job_seekers/" + data.id +
            "' target='_blank'>" + data.name + "</a>" +
            ' has joined PETS.');
      }
    });

    channel.bind('company_registered', function(data) {
      // Process event if I am logged in and am an agency_person
      if (Cookies('person_type') === 'AgencyPerson') {
        Notification.info_notification('Company: ' +
            "<a href='/company_admin/companies/" +
            data.id + "' target='_blank'>" + data.name + "</a>" +
            ' has registered in PETS.');

      }
    });

    channel.bind('jobseeker_applied', function(data) {
      // Process event if I am logged in and I am in notify list
      if ($.inArray(parseInt(Cookies('user_id')), data.notify_list) != -1) {
        Notification.info_notification('Job Seeker: ' +
            "<a href='/job_seekers/" + data.js_id +
            "' target='_blank'>" + data.js_name + "</a>" +
            " has applied to <a href='/jobs/" + data.job_id +
            "' target='_blank'>this job</a>");
      }
    });

    channel.bind('jobseeker_assigned_jd', function(data) {
      // Process event if I am logged in and I am the job developer
      if (parseInt(Cookies('user_id')) === data.jd_user_id) {
        Notification.info_notification('Job Seeker: ' +
            "<a href='/job_seekers/" + data.js_id +
            "' target='_blank'>" + data.js_name + "</a>" +
            " has been assigned to you as Job Developer");
      }
    });

    channel.bind('jobseeker_assigned_cm', function(data) {
      // Process event if I am logged in and I am the case manager
      if (parseInt(Cookies('user_id')) === data.cm_user_id) {
        Notification.info_notification('Job Seeker: ' +
            "<a href='/job_seekers/" + data.js_id +
            "' target='_blank'>" + data.js_name + "</a>" +
            " has been assigned to you as Case Manager");
      }
    });
  }
};

$(PusherControl.setup);
