.about-buttons {
  margin-top: 73px;
  a {
    background-color: #0C7BA1;
    color: #fff;
    border-radius: 8px;
    padding: 12px 16px;
    font-weight: bold;
    width: 250px;
    height: 50px;
    &:hover {
      color: #fff;
    }
  }
}

.about {
  h1 {
    color: #0C7BA1;
    font-weight: bold;
  }
  h3 {
    color: #0C7BA1;
    font-weight: bold;
  }
}