// Place all the styles related to the AgencyAdmin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.div_align_left {
  float: left;
  width: 20%;
  text-align: left;
}

.div_align_right {
  float: left;
  width: 50%;
  text-align: left;
}

#bold_text {
  font-weight: bold;
}

#agency-table,
#branches-table,
#people-table,
#companies-table,
#job-categories-table,
#skills-table {
  margin-top: 2em;
  padding: 0;
}

.agency-admin-container {
  margin-top: 2em;
}
