// Place all the styles related to the AgencyAdmin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white-color: #fff;
$over-color: #f2bc60;
$blue-color: #0c7ba1;
$grey-color: #d9d9d9;
$gold: #f2bc60;
$light-grey: #ddd;

.div_align_left {
  float: left;
  width: 20%;
  text-align: left;
}

.div_align_right {
  float: left;
  width: 50%;
  text-align: left;
}

#bold_text {
  font-weight: bold;
}

#job_categories_table,
#skills_table {
  margin-top: 2em;
  padding: 0;
}

.job-properties-container {
  margin-top: 2em;
}
