/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#spin {
    background: #333;
    color: white;
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 20px 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#loading {
    position: absolute; width: 100%; height: 100%;
}

#login_form {
    padding-top: 12px;
}
.navbar {
    background: #0C7BA1;
}
.navbar-default .navbar-nav > .active > a {
    background: #08617f;
    color: #FFFFFF;
}
.navbar-default .navbar-nav li> a:hover {
    background: #12aee2;
}

.navbar-default .navbar-nav > .active > a:hover {
    background: #12aee2;
}
.navbar-default .navbar-nav li>a{
    color: #FFFFFF;
}
#stuff{
    padding-top: 16px;
    padding-left: 1px;
}
.navbar-default .navbar-brand {
    color: #FFFFFF;
}