.application-table {
  tr {
    padding-bottom: 10px !important;
  }
}

.applications-accepted {
  border: 3px solid green;
}

.applications-not_accepted {
  border: 3px solid red;
}

.applications-processing {
  border: 3px solid yellow;
}