@import "bootstrap-sprockets";
@import "bootstrap";

$light-blue: #12aee2;
$white: #fff;

.input-group#search-id{ 
	margin-top: 60px;
}
.btn.btn-primary.btn-block#edit-job-submit{
	background: $light-blue;
}
.btn.btn-primary.btn-block#new-job-submit{
	background: $light-blue;
}
.page-header#new-job-header {
	border-bottom: 2px solid $light-blue;
}
.page-header#edit-job-header {
	border-bottom: 2px solid $light-blue;
}

.well#jobs-well-lg{
	background: $light-blue;
	color: $white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	min-height:0px !important;
	margin-bottom: 5px;
	height: 78px;
}

#list-header{
    margin-top: 25px;
    margin-bottom: 12px;
    font-weight: 300;
}

#hire-header{
    margin: 25px 0 12px 0;
}
#error-explanation {
  color: red;
  ul {
		color: red;
    	margin: 0 0 30px 0;
  	}
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}