@import "bootstrap-sprockets";
@import "bootstrap";
$light-blue: #12aee2;

.btn.btn-primary.btn-block#edit-job-submit{
	background: $light-blue;
}
.btn.btn-primary.btn-block#new-job-submit{
	background: $light-blue;
}
.page-header#new-job-header {
	border-bottom: 2px solid $light-blue;
}
.page-header#edit-job-header {
	border-bottom: 2px solid $light-blue;
}
#error-explanation {
  color: red;
  ul {
	color: red;
    	margin: 0 0 30px 0;
  	}
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}