$light-blue: #12aee2;
$white: #fff;
$red: #FF0000;
$state-danger-text: #a94442;


/*ONLY JOB RELATED CSS*/

.job-skill-label {
	font-style: normal;
	font-weight: normal;
}

.modal-content#job-delete-modal-id{
	background-color: $light-blue;
}

.col-sm-offset-3.col-sm-6#edit-job-links-id{
	margin-bottom: 50px;

}

.col-sm-offset-3.col-sm-6#new-job-links-id{
	margin-bottom: 50px;

}

.pull-right#job-show-links-id, .pull-right#application-show-links{
		margin-top: 80px;
		a{
			text-decoration: underline;
		}

}
.panel.panel-default#show-panel-id{
	margin-bottom: 0px;
	.panel-heading#panel-heading-show-id{
		background: $light-blue;
		color: $white;
	}

}
.panel.panel-default#panel-default-id{
     margin-bottom: 0px;
     height: 78px;
     border:0px;

     .panel-footer{
     	 height: 78px;
     	 background-color: $light-blue;
     	 margin-bottom: 0px;

     }
 }

.row.text-center#footer-text-color{
	color: $white;
	margin-top: 20px;
	a{
		color: $white;
		text-decoration: underline;
	}
}

.btn.btn-primary.btn-xs.jobs-revoke-button{
	margin-left: 7px;
	background: $light-blue;
}
.btn.btn-primary.btn-xs#jobs-edit-link{
	background: $light-blue;
}
.input-group#search-id{
	margin-top: 60px;
}
.btn.btn-primary.btn-block#edit-job-submit{
	background: $light-blue;
}
.btn.btn-primary.btn-block#new-job-submit{
	background: $light-blue;

}
.page-header#new-job-header {
	border-bottom: 2px solid $light-blue;
	margin-bottom: 15px;
	margin-top: 10px;

}
.page-header#edit-job-header {
	border-bottom: 2px solid $light-blue;
	margin-bottom: 15px;
	margin-top: 10px;
}

.well#jobs-well-lg{
	background: $light-blue;
	color: $white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	min-height:0px !important;
	margin-bottom: 10px;
	height: 78px;
}

#list-header{
    margin-top: 25px;
    margin-bottom: 12px;
    font-weight: 300;
}

#hire-header{
    margin: 25px 0 12px 0;
    a{
    	color: $white;
    }
}

/* Scrollable fixed height modal */
.modal .modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.recent-jobs {
	background: rgba(255,255,0,0.4);
}
