$light-blue: #12aee2;
$white: #fff;
$red: #f00;
$state-danger-text: #a94442;
$light-green: #98fb98;
$lemon: #fffacd;
$pale-red: #db7093;
$dark-grey: #696969;

/*ONLY JOB RELATED CSS*/

.job-skill-label {
  font-style: normal;
  font-weight: normal;
}

.modal-content#job-delete-modal-id {
  background-color: $light-blue;
}

.col-sm-offset-3.col-sm-6#edit-job-links-id {
  margin-bottom: 50px;
}

.col-sm-offset-3.col-sm-6#new-job-links-id {
  margin-bottom: 50px;
}

.links {
  margin-bottom: 20px;
}

.pull-left.all-jobs-link {
  margin-top: 80px;
}

.pull-right#job-show-links-id {
  margin-top: 80px;
  a {
    text-decoration: underline;
  }
  a.btn {
    text-decoration: none;
  }
}

.pull-right#application-show-links {
  margin-top: 80px;
}

.panel.panel-default#show-panel-id {
  margin-bottom: 0;
  margin-top: 20px;

  .panel-heading#panel-heading-show-id {
    background: $light-blue;
    color: $white;
  }
}
.panel.panel-default#panel-default-id {
  margin-bottom: 0;
  height: 78px;
  border: 0;

  .panel-footer {
    background-color: $light-blue;
    height: 78px;
    margin-bottom: 0;
   }
 }

.row.text-center#footer-text-color {
  color: $white;
  margin-top: 20px;

  a {
    color: $white;
    text-decoration: underline;
  }
}

.btn.btn-primary.btn-xs.jobs-revoke-button {
  background: $light-blue;
  margin-left: 7px;
}
.btn.btn-primary.btn-xs#jobs-edit-link {
  background: $light-blue;
}
.input-group#search-id{
  margin-top: 60px;
}
.btn.btn-primary.btn-block#edit-job-submit {
  background: $light-blue;
}
.btn.btn-primary.btn-block#new-job-submit {
  background: $light-blue;
}

.page-header#new-job-header {
  border-bottom: 2px solid $light-blue;
  margin-bottom: 15px;
  margin-top: 10px;
}

.page-header#edit-job-header {
  border-bottom: 2px solid $light-blue;
  margin-bottom: 15px;
  margin-top: 10px;
}

.well#jobs-well-lg {
  background: $light-blue;
  color: $white;
  height: 78px;
  margin-bottom: 10px;
  margin-top: 5px;
  min-height: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

#list-header {
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: 25px;
}

#hire-header {
  margin: 25px 12px;

  a {
    color: $white;
  }
}

/* Scrollable fixed height modal */
.modal .modal-body {
  max-height: 400px;
  overflow-y: auto;
}

.recent-jobs {
  background: rgba(255,255,0,0.4);
}

/** resume matches view **/
#match-resumes-link {
  background: #0C7BA1;
  border: none;
}
#resume-matches-table {
  margin-top: 15px;
}

.blur {
  opacity: 0.5;
}

.back-btn {
  margin-top: 30px;
}

.select2-search__field {
  width: auto !important;
}

.select2.select2-container.select2-container--default.select2-container {
  width: 60% !important;
}

.job-title {
  color: $light-blue;
}

.label-active {
  background-color: $light-green;
  color: $dark-grey;
}

.label-filled {
  background-color: $lemon;
  color: $dark-grey;
}

.label-revoked {
  background-color: $pale-red;
  color: $dark-grey;
}
