%p= t("devise.mailer.invitation_instructions.hello", first_name: @resource.first_name)
%p
  = t("devise.mailer.invitation_instructions.admin_invited_you",                      |
    org: ((inviter = @resource.invited_by).actable.class == AgencyPerson ?            |
                  inviter.actable.agency.name : inviter.actable.company.name))        |
%p= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token)
%p= t("devise.mailer.invitation_instructions.ignore").html_safe
